<table>
    <tr><td><%= item1.id%></td><td><%= item1.product%></td></tr>
    <tr><td><%= item2.id%></td><td><%= item2.product%></td></tr>
    <tr><td><%= item3.id%></td><td><%= item3.product%></td></tr>
</table>